html {
/*    font-size: 20px;*/
    background-color: var(--orange-ho);
	letter-spacing: rem;    
}



/* Root Selector */
:root {
    
    /* Theme colours and variations */
    /*
        Created by Roxy Bo on 31st December 2022, with Adobe color wheel.

        - This colour Palette design satisfied the colorblind friendly guideline issued by WCAG.
    
        For detailed colour information, refer to https://colors.muz.li/palette/7050FF/dd90dd/ffaa55/bbff60/3099ff
    
        Copyright © 2022, Roxy Bo, Under Creative Commons BY-NC-SA 4.0 license.
    */

    --theme-purple: #7050FF;
    --theme-pink:   #DD90DD;
    --theme-orange: #FFAA55;
    --theme-green:  #BBFF60;
    --theme-blue:   #3099FF;
    

	
	/* HSL colour management */
	--h: 251;
	--s: 100%;
	--l: 66%;
	
	
	
	--test: var(--orange-l-ho);
	
	--orange-h: 30;
	
	
	--orange-test: hsl(var(--orange-h) var(--s) var(--l)  / 0.8);
	
	   --orange: hsl(var(--orange-h) var(--s) var(--l) / 1);
	--orange-ho: hsl(var(--orange-h) var(--s) var(--l)  / 0.8);
	
	   --orange-l: hsl(var(--orange-h) calc(0.9 * var(--s)) calc(1.2 * var(--l))  / 1);
	--orange-l-lo: hsl(var(--orange-h) calc(0.9 * var(--s)) calc(1.2 * var(--l))  / 0.75);
	--orange-l-mo: hsl(var(--orange-h) calc(0.9 * var(--s)) calc(1.2 * var(--l))  / 0.5);
	--orange-l-ho: hsl(var(--orange-h) calc(0.9 * var(--s)) calc(1.12 * var(--l))  / 0.35);
	
	--orange-d: 0.3rem 0.3rem 1px #eeea;
	
	
	
    
    /* Configurations of Length */
    --aside-width: 0; /*15vw*/
/*	 --main-width: calc(100vw - var(--aside-width) - 5rem)*/
	 --main-width: calc(100vw - 4rem);
    
	
	
	
	
	/* Shadows */
	--shadow-d: 0.1rem 0.1rem 1.2px #111a;
	--shadow-wide: 0.3rem 0.3rem 15px #333a;

}

/*
div {
    display: inline-block;
}
*/

/*
.header {
    text-align: center;
    margin: 2rem;
    margin: 0 auto;
}
*/



/*  */

.container {
    position: relative;
	width: 100vw;
	margin: 0 2rem;

}

.main {
    /* display method */   
    position: relative;
    display: inline-block;
    
    background-color: #fffd;
	box-shadow: var(--shadow-wide);
	backdrop-filter: blur(15px);
	border-radius: 20px;

    /* size management*/
    width: var(--main-width);
/*    min-width: 70vw;*/
/*
    min-height: 80vh;
    height: 150rem;
*/
    
/*    margin-left: calc(15vw + 1rem);*/
    padding: 2rem;
    
    line-height: 1.6rem;
	
	margin-bottom: 2rem;
    
    
}
.main .question_block {
    margin: 1rem 0rem 2rem;
}

.main .question_block .question_text {
    margin: 0 0 1rem;
}

.main .answer_block {
    margin: 1rem 1rem 2rem; 
}

.main .answer_block .answer_entry{
    margin: 0.8rem 0 0;
}

.footer {
    min-height: 15vh;
    background-color: #333;
	text-align: center;
	color: aliceblue;
	font-size: 0.618rem;
	padding-top: 2rem;
}

/*
.footer {
    min-height: 15vh;
    background-color: red;
    float: none;
}*/


/*
body {
  margin: 0;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 需隐藏最外层不可见区域以使视差生效 */
  overflow: hidden;
}

body {
  /* 开启3d空间，数值越小3D效果越大 */
  perspective: 1px;
  /* 在3D空间进行transform */
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  /* 需要设置高度以使时差生效 */
  height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: inherit;
    /* 需要设置高度以使时差生效 */
    height: 100vh;
	width: 100vw;
}


.bg-img {
	display: flex;
/*
    align-items: center;
    justify-content: center;
*/
    position: relative;
    transform-style: inherit;
    /* 需要设置高度以使时差生效 */
    height: 100vh;
}

.bg-img::before {
	  position: absolute;
	  content: "";
	  display: block;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-image: url("th%C3%A9%C3%A2tre-d'op%C3%A9ra-spatial.jfif"); 
	  background-size: cover;
	  background-position: center;
	  /* 核心，按z轴向远处移动1px，大小会缩小一倍，使用scale放大到原图大小 */
	  transform: translateZ(-1px) scale(2.1);
	  z-index: -99;
}

.upper-left-title {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.upper-left-title p {
	position: sticky;
	color: #fff;
	font-size: 0.85rem;
	font-weight: 600;
	top: 0.5rem;
	padding-left: 0.5rem;
}

.header .abs-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: inherit;
    /* 需要设置高度以使时差生效 */
    height: inherit;
}


/* Wrappers */

.header h1 {
  	padding: 2rem 4rem;
	font-size: 2rem;
	text-align: center;
	text-shadow: var(--shadow-wide);
}

#header-main-sliper {
	color: white;
	position: absolute;
	margin: auto;
	bottom: 1rem;
	font-size: 1rem;
	font-weight: 500;
	text-shadow: var(--shadow-d);
}

.main-title-box {
	background-color: var(--orange-l-mo);
  	color: white;
	min-width: 61.8vw;
	max-width: 80vw;
	box-shadow: 0.3rem 0.3rem 15px #333a;
	backdrop-filter: blur(1.25px);
	border-radius: 20px;
	
	border-top: 2.2px solid #eeea;
    border-left: 0.8px solid #eeea;
}



.aside {    
	background-color: aqua;

	position: sticky;
	top: 1rem;

	/* min-width: 10rem; */
	width: var(--aside-width);
	height: 50rem;
	max-height: 60vh;
	float: left; 

	margin-top: auto;
	margin-right: 1rem;

	line-height: 3rem;

}

         
    .aside a{
        text-decoration: none;
        color: var(--theme-purple);

        /* 设置为块元素 整体可点 */
        display: block;

        padding: 0.5 1rem;
        }
    
    .aside a:hover {
        background-color: var(--theme-purple);
        color: var(--theme-orange);
        
        font-style: oblique;
        font-weight: bolder;
    }
    

    .aside li
    {
        list-style: none;
        text-align: center;
    }


/* BUTTON SETTING */

.ani-btn {
/*    justify-content: center;*/
	display: flex;
	width: var(--main-width);
	flex-flow: wrap;
}

.ani-btn .btn {
	/* 溢出隐藏 */
	overflow: hidden;
	/* 相对定位 */
	position: relative;
	width: 9rem;
	height: 2.5rem;
	text-align: center;
	margin: 0.5rem 0.5rem;
	border-radius: 25px;
	background-color: #fff;
	/* 盒子阴影 */
	box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}
.ani-btn .label {
	/* 字体图标可以直接使用字体大小来设置大小 */
	font-size: 1.1rem;
	font-weight: 600;
	/* 缩放0.8倍 */
	transform: scale(0.9);
	/* 行高 让这个字体图标垂直居中于盒子内 */
	line-height:2.5rem;
	/* 设置一下过渡 */
	/* 第三个值是贝塞尔曲线 让运动曲线有无限可能 可以到官网自行探索 https://cubic-bezier.com/ */
	transition: all 0.4s cubic-bezier(0.31, -0.1, 0.43, 1.59);
}
.ani-btn .btn::before {
	content: "";
	/* 绝对定位 */
	position: absolute;
	top: 90%;
	left: -110%;
	width: 160%;
	height: 260%;
	/* 顺时针旋转45度 */
	transform: rotate(45deg);
	transition: all 0.4s cubic-bezier(0.31, -0.1, 0.43, 1.59);
}
.ani-btn .btn .confirm {
	color: #c55;
}
.ani-btn .btn_confirm::before {
	background-color: #c55;
}
.ani-btn .btn .cancel {
	color: #5c5;
}
.ani-btn .btn_cancel::before {
	background-color: #5c5;
}

.ani-btn .btn:hover::before {
	top: -10%;
	left: -10%;
}
.ani-btn .btn:hover .label {
	color: #fff;
	/* 鼠标移入 恢复到原来的大小 */
	transform: scale(1);
}

.ani-btn a{
	text-decoration: none;
}



















@media screen and (max-width: 1024px) {
  header h1 {
/*    font-size: 2.5em;*/
/*    padding: 1rem 1.5rem;*/
  }
}

@media screen and (max-width: 600px) {
  header h1 {
/*    font-size: 1.5em;*/
/*    padding: 1rem 1rem;*/
  }





