html {
/*    font-size: 20px;*/
    background-color: var(--theme-purple)
    
}


    /* Compatibility seetings for different resolutions */
/*
    @media only screen and (max-width: 320px){
        font-size: 65.5% !important;
    }
    
    @media only screen, (min-width: 321px) and (max-width: 640px){
        font-size: 125% !important;
    }
    
    @media only screen, (min-width: 750px) and (max-width: 1241px){
        font-size: 150% !important;
    }

    @media only screen and (min-width: 1242px){
        font-size: 187.5% !important;
    }
*/



/* Root Selector */
:root {
    
    /* Theme colours and variations */
    /*
        Created by Roxy Bo on 31st December 2022, with Adobe color wheel.

        - This colour Palette design satisfied the colorblind friendly guideline issued by WCAG.
    
        For detailed colour information, refer to https://colors.muz.li/palette/7050FF/dd90dd/ffaa55/bbff60/3099ff
    
        Copyright © 2022, Roxy Bo, Under Creative Commons BY-NC-SA 4.0 license.
    */

    --theme-purple: #7050FF;
    --theme-pink:   #DD90DD;
    --theme-orange: #FFAA55;
    --theme-green:  #BBFF60;
    --theme-blue:   #3099FF;
    

    
    /* Configurations of Length */
    --aside-width: 15vw;
    
}

/*
div {
    display: inline-block;
}
*/

/*
.header {
    text-align: center;
    margin: 2rem;
    margin: 0 auto;
}
*/



/*  */

.container {

    position: relative;
    left: 2rem;
    right: 2rem;

}

.main {
    /* display method */   
    position: relative;
    display: inline-block;
    
    background-color: aquamarine;

    /* size management*/
    width:  calc(100vw - 15vw - 5rem);
/*    min-width: 70vw;*/
    min-height: 80vh;
    height: 150rem;
    
/*    margin-left: calc(15vw + 1rem);*/
    padding: 1.5rem;
    
    line-height: 1.5rem;
    
    
}
.main .question_block {
    margin: 1rem 0rem 2rem;
}

.main .question_block .question_text {
    margin: 0 0 1rem;
}

.main .answer_block {
    margin: 1rem 1rem 2rem; 
}

.main .answer_block .answer_entry{
    margin: 0.8rem 0 0;
}

.footer {
    min-height: 15vh;
    background-color: red;
}

/*
.footer {
    min-height: 15vh;
    background-color: red;
    float: none;
}*/


/*
body {
  margin: 0;
  font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 需隐藏最外层不可见区域以使视差生效 */
  overflow: hidden;
}

body {
  /* 开启3d空间，数值越小3D效果越大 */
  perspective: 1px;
  /* 在3D空间进行transform */
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  /* 需要设置高度以使时差生效 */
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: inherit;
  /* 需要设置高度以使时差生效 */
  height: 100vh;
}

.header h1 {
	background-color: rgba(0, 0, 0, 0.7);
  	color: white;
	min-width: 61.8vw;
	max-width: 80vw;
  	padding: 2.5rem 4.5rem;
	font-size: 2.5rem;
	text-align: center;

}

.header::before {
	  position: absolute;
	  content: "";
	  display: block;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-image: url("/static/images/th%C3%A9%C3%A2tre-d'op%C3%A9ra-spatial.jfif");  /* https://images.pexels.com/photos/2310815/pexels-photo-2310815.jpeg?cs=srgb&dl=photo-of-opened-metal-windows-2310815.jpg&fm=jpg */
	  background-size: cover;
	  background-position: center;
	  /* 核心，按z轴向远处移动1px，大小会缩小一倍，使用scale放大到原图大小 */
	  transform: translateZ(-1px) scale(2.1);
	  z-index: -99;
}



    .aside 
    {    
        background-color: aqua;
        
        position: sticky;
        top: 1rem;

        /* min-width: 10rem; */
        width: var(--aside-width);
        height: 50rem;
        max-height: 60vh;
        float: left; 

        margin-top: auto;
		margin-right: 1rem;
        
        line-height: 3rem;

    }

         
    .aside a{
        text-decoration: none;
        color: var(--theme-purple);

        /* 设置为块元素 整体可点 */
        display: block;

        padding: 0.5 1rem;
        }
    
    .aside a:hover {
        background-color: var(--theme-purple);
        color: var(--theme-orange);
        
        font-style: oblique;
        font-weight: bolder;
    }
    

    .aside li
    {
        list-style: none;
        text-align: center;
    }

#header-main-sliper {
	color: white;
	position: absolute;
	bottom: 1.5rem;
	font-size: 1.25rem;
	font-weight: 400;
}


@media screen and (max-width: 1024px) {
  header h1 {
/*    font-size: 2.5em;*/
/*    padding: 1rem 1.5rem;*/
  }
}

@media screen and (max-width: 600px) {
  header h1 {
/*    font-size: 1.5em;*/
/*    padding: 1rem 1rem;*/
  }

  article {
/*    font-size: 1em;*/
  }
}
